Flask>=2.3.2
scikit-learn>=1.2.2
pandas>=2.2.2
numpy>=1.26.4
pdfminer.six>=20240524
docx2txt>=0.8
spacy>=3.8.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
joblib>=1.3.2
python-docx>=0.8.11
nltk>=3.8.1
